<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h2>Secret Shop</h2>
    <button type="" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <hr>

    <div class="">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button routerLink="/auth/login" mat-icon-button aria-label="Example icon button with a open in new tab icon">
        <mat-icon mat-list-icon>logouth</mat-icon>
      </button>

    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <!-- load sidenav component -->
    <app-sidenav></app-sidenav>
    <!-- load sidenav component -->
  </mat-sidenav>

  <mat-sidenav-container autosize>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</mat-sidenav-container>
