<div class="container">
  <h2 class="text-center">

    Productos
  </h2>

  <div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
      <div class="card" style="width: 18rem;">
        <img src="{{product.urlImage}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h3>{{product.name}}</h3>
          <label for="">Precio: {{product.price}}</label>
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end container -->
