<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>SideNav</h1>
    <button type="" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" dode="side">
    <mat-nav-list>
      <mat-accordion>


        <mat-expansion-panel><!-- block 1 -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>home</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              menu 1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item href="">sub Menu 1.1</a>
            <a mat-list-item href="">sub Menu 1.2</a>
          </mat-nav-list>
        </mat-expansion-panel><!-- end block -->

        <mat-divider></mat-divider>


        <mat-expansion-panel><!-- block 2 -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>home</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              menu 1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item href="">sub Menu 2.1</a>
            <a mat-list-item href="">sub Menu 2.2</a>
            <a mat-list-item href="">sub Menu 2.3</a>
          </mat-nav-list>
        </mat-expansion-panel><!-- end block -->


      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-container autosize>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>


</mat-sidenav-container>


<!-- <mat-sidenav-container autosize> -->
<!--   <!-- <mat-sidenav #sidenav mode="side" opened="true" class=""> --> -->
<!--   <mat-sidenav #sidenav mode="side" opened> -->
<!--     <mat-nav-list> -->
<!--       <mat-accordion> -->
<!--         <mat-expansion-panel> -->
<!--           <mat-expansion-panel-header> -->
<!--             <!-- menu --> -->
<!--             <mat-list-item mat-list-icon class="" (click)="isExpanded = !isExpanded"> -->
<!--               <mat-icon mat-list-icon class="chevron-button sidenav-button" -->
<!--                 [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon> -->
<!--             </mat-list-item> -->
<!--             <!-- end menu --> -->
<!--           </mat-expansion-panel-header><!-- heder expansion--> -->
<!---->
<!--           <mat-list-item [routerLink]="'home'"> -->
<!--             <mat-icon mat-list-icon>home</mat-icon> -->
<!--             <span *ngIf="isExpanded"> -->
<!--               Home -->
<!--             </span> -->
<!--           </mat-list-item> -->
<!---->
<!--           <mat-list-item> -->
<!--             <mat-icon mat-list-icon>account_circle</mat-icon> -->
<!--             <span *ngIf="isExpanded"> -->
<!--               Users -->
<!--             </span> -->
<!--           </mat-list-item> -->
<!--           <mat-list-item> -->
<!--             <mat-icon mat-list-icon>category</mat-icon> -->
<!--             <span *ngIf="isExpanded"> -->
<!--               Categories -->
<!--             </span> -->
<!--           </mat-list-item> -->
<!--           <mat-list-item> -->
<!--             <mat-icon mat-list-icon>loyalty</mat-icon> -->
<!--             <span *ngIf="isExpanded"> -->
<!--               Products -->
<!--             </span> -->
<!--           </mat-list-item> -->
<!---->
<!--           <mat-list-item> -->
<!--             <mat-icon mat-list-icon>add_shopping_cart</mat-icon> -->
<!--             <span *ngIf="isExpanded"> -->
<!--               Orders -->
<!--             </span> -->
<!--           </mat-list-item> -->
<!---->
<!---->
<!--         </mat-expansion-panel><!-- expansion --> -->
<!--       </mat-accordion><!-- acordion  --> -->
<!--     </mat-nav-list> -->
<!--   </mat-sidenav> -->
<!--   <div class="content"> -->
<!--     <mat-toolbar>Title here</mat-toolbar> -->
<!---->
<!--     <router-outlet></router-outlet> -->
<!--   </div> -->
<!-- </mat-sidenav-container> -->
